

/* GRID CSS */
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;

}
 
.fgh {
  display: inline-grid;
  grid-template-columns: 1fr;
  height: 500px;
  
}
 
h1 {
  text-align-last: center;
  color: white;

}
.DashBoard{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 70px;
  column-gap:  20px;
  background: linear-gradient(to right, var(--clr-robin-blue), var(--clr-crazy-blue));
}

.DashBoard label{
  font-size: 20px;
  color: white;
  font-weight: bolder;
  padding-right: 50px;
}