


.ddContainer{
    padding: 100px;
    background-color: white;
    width: 100px;
    height:10x;
    display: block;
}


.longButtonWithDropdown {
    position: relative;
  }
  
  .longButton {
    height: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: larger;
  }
  
  .dropdownArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
  }
  
  
  .dropdownArrowOpen {
    transform: translateY(-50%) rotate(180deg);
  }
  
  .dropdownMenu {
    /* position: absolute;
    top: calc(100% + 5px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0; */

    width: -webkit-fill-available;
    position: absolute;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    left: 10px;
    top: 6rem;
    padding:15px;
    border-radius: 10px;
  }
  
  .dropdownMenu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownMenu li:hover {
    background-color: #f0f0f0;
  }

  