.App {
    font-family: sans-serif;
    text-align: center;
}

.btn {
    border-style: groove;

    padding: 10px;
    justify-content: center;
    border: none;
    /* height: 20px; */
    width: 35px;
    margin: 3px;
    /* margin-left: 10px; */
    border-radius: 10px;
    /* padding-top: 15px; */
    /* padding-left: 10px; */
    cursor: pointer;
}

.total {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 20%;
    margin-top: 3pc;
    background-color: white;
}

.container3 {
    /* margin-top:50px; */
    background: whitesmoke;
    /* border: 1px dashed; */

    width: 150px;
    list-style-type: none;

    /* color:black; */
    border-radius: 10px;

    /*   align-items: center; */
    margin-bottom: 200px;
}

.total p {
    margin-right: 30px;
    width: 50%;
}

.grid-item {
    border-style: groove;
    display: grid;
    width: 100pc;
    margin-left: 15%;
    grid-template-columns: auto auto;
    border-style: groove;
    display: flex;
    padding: 10px;
    justify-content: center;
    border: none;
    background-color: lightgrey;
    height: 100px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    background-color: #afedfc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
}

.grid>div {
    width: 7pc;
    color: #ffffff;

    text-align: center;
}

.selected {
    background-color: red;
}

.occupied {
    background-color: green;
}

.img {
    display: flex;
}

.Showcase {
    /* margin-top:50px; */
    background: whitesmoke;
    /* border: 1px dashed; */
    margin-left: 100px;
    width: 200px;
    list-style-type: none;
    padding: px 10px;
    /* color:black; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    /*   align-items: center; */
    position: absolute;
    right: 40px;
    top: 80px;
}

.total .Book-seat {
    display: grid;
    width: 41pc;
    justify-content: center;
}

.Showcase li {
    font-size: 15px;
    display: flex;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
}

.Showcase li small {
    margin-left: 2px;
    /*   height:10px; */
}

.button {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
        NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
        EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-left: 40%;
    display: flex;
    margin-top: 2pc;
    justify-content: center;
}